---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import ChargeSection from "../components/ChargeSection.astro";
---

<Layout title="Welcome to Tesla">
	<LandingHeader />
	<main
		class="snap-y snap-mandatory relative w-full h-screen overflow-auto overflow-x-hidden scroll-smooth"
	>
		<div class="snap-center">
			<HeroSection title="Disfrute de Tesla" />
		</div>
		<div class="snap-center">
			<ChargeSection
				title="Model Y"
				image="/Model-Y.avif"
				color="white"
			/>
		</div>
		<div class="snap-center">
			<ChargeSection
				title="Model 3"
				image="/Model-3.avif"
				color="black"
			/>
		</div>
		<div class="snap-center">
			<ChargeSection
				title="Model X"
				image="/Model-X.avif"
				color="black"
			/>
		</div>
		<div class="snap-center">
			<ChargeSection
				title="Model S"
				image="/Model-S.avif"
				color="black"
			/>
		</div>
	</main>
</Layout>
